body {
    position: absolute;
    background: black;
    color: white;
    margin: 5px;
}

h1 {
    text-align: center;
}

a,
a:link,
a:visited {
    color: #AAA;
}

a:hover {
    background: #DDF;
}

.clear {
    clear: both;
}

ul.systems {
    padding: 0;
}

ul.systems li {
    padding: 0;
    list-style: none;
}

ul.systems li a {
    display: block;
    font-size: 200%;
    padding: 20px;
    border-radius: 5px;
}

.control_panel h3 {
    display: none;
}

.control_panel > div > ul {
    padding: 0;
}

.control_panel > div > ul > li {
    padding: 0;
    list-style: none;
    float: left;
}

.widget {
    width: 276px;
    margin: 5px;
    padding: 10px;
    border: 2px solid #DDF;
    border-radius: 20px;
}

.widget.digital_output h4 {
    margin: 0 0 10px;
    position: relative;
}

.widget.digital_output .control_blocks {
    display: none;
}

.widget.digital_output .currentState {
    position: absolute;
    top: -5px;
    right: 20px;
    border-radius: 3px;
    padding: 5px;
}

.widget.digital_output.ON .currentState {
    background: #0D0;
}

.widget.digital_output.OFF .currentState {
    background: #D00;
}

.widget.digital_output ul {
    display: block;
    padding: 0;
}

.widget.digital_output li {
    padding: 0;
    list-style: none;
    display: block;
    float: left;
}

.widget.digital_output .advance button {
    width: 250px;
}

.widget.digital_output button {
    background: #DDF;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    margin: 0 5px 5px;
    font-size: 15px;
    cursor: hand;
    cursor: pointer;
}

.widget.analog_input.temperature .current_value {
    text-align: right;
    line-height: 100%;
    font-size: 500%;
    font-family: Garamond, serif;
    padding-right: 10px;
}
