<%
tz = Time.zone
if @analog_input.base_station.timezone and @analog_input.base_station.timezone != ""
  tz = TZInfo::Timezone.get(@analog_input.base_station.timezone)
  t = tz.utc_to_local(t)
end
%>
<div class="widget analog_input temperature">
  <h4><%= @analog_input.name %> <span class="address">(<%= @analog_input.address %>)</span></h4>
  <div class="current_value"><%=@analog_input_latest_value[:human_value].to_f.round(1)%><span class="units">&deg;C</span></div>
  <div class="latest_time">Last Reported: <%=tz.utc_to_local(@analog_input_latest_value[:created_at]).to_s.gsub(/ ?UTC/,'')%></div>
</div>
